<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 
    <title>CRUD APP</title>
</head>
<body>
    <div id="main"></div>
</body>

</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/moment.min.js"></script>

@section Scripts {

    <script src="~/Scripts/react/dist/bundle.js"></script>
}

